.row {
  display: flex;
  flex-wrap: wrap; }

.paddingHorizontal-0 {
  padding-right: 0px;
  padding-left: 0px; }

.paddingHorizontal-1 {
  padding-right: var(--size-one);
  padding-left: var(--size-one); }

.paddingHorizontal-2 {
  padding-right: var(--size-two);
  padding-left: var(--size-two); }

.paddingVertical-1 {
  padding-top: var(--size-one);
  padding-bottom: var(--size-one); }

.paddingVertical-2 {
  padding-top: var(--size-two);
  padding-bottom: var(--size-two); }

.hidden {
  display: none; }

.gutters {
  margin-right: -7.5px !important;
  margin-left: -7.5px !important; }
  .gutters > [class*="col-"] {
    padding-right: 7.5px !important;
    padding-left: 7.5px !important; }

.marginVertical-1 {
  margin-top: var(--size-one);
  margin-bottom: var(--size-one); }

.marginVertical-2 {
  margin-top: var(--size-two);
  margin-bottom: var(--size-two); }

.marginBottom-1 {
  margin-bottom: var(--size-one); }

.marginBottom-2 {
  margin-bottom: var(--size-two); }

.marginBottom-3 {
  margin-bottom: var(--size-three); }

.marginBottom-4 {
  margin-bottom: var(--size-four); }

.marginLeft-1 {
  margin-left: var(--size-one) !important; }
