.form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

.form > * {
  margin-bottom: 10px;
}

.input {
  flex: 0 0 40%;
}
