.container {
  display: flex;
}

.categoriesContainer {
  display: flex;
  flex-direction: column;
  flex: 0 0 300px;
  border-right: 2px double var(--primary-color);
  height: 100vh;
  transition: 0.5s;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
}

.categoriesContainer:hover {
  overflow-y: auto;
}

.postsContainer {
  display: block;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100vh;
  overflow-y: auto;
  margin-top: 30px;
}

.addButtonPosition {
  top: 60px;
  left: 365px;
}

@media only screen and (max-width: 1024px) {
  .addButtonPosition {
    box-shadow: none;
  }
}

@media only screen and (max-width: 724px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .addButtonPosition {
    left: 10px;
    transform: scale(0.9, 0.9);
  }

  .categoriesContainer {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid var(--primary-color);
    border-right: none;
    flex: 0 0 20%;
    justify-content: center;

    padding-left: 5px;
    padding-right: 5px;
  }

  .categoriesContainer:hover {
    overflow-y: hidden;
    overflow-x: auto;
  }

  .postsContainer {
    padding-left: 5px;
    padding-right: 5px;
  }
}
