.select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 4px;
  box-sizing: border-box;
}

.select:focus {
  border-color: var(--primary-color);
}
