.container {
  display: block;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100vh;
  overflow-y: auto;
  margin-top: 30px;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primary-color-lighter);
  border-radius: 10px;

  padding-left: 5px;
  padding-right: 5px;

  margin-top: 15px;
  margin-bottom: 40px;
  margin-right: 100px;
  margin-left: 100px;
}

.titleContainer {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
}

.title {
  background-color: var(--primary-color-light);

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;

  font-weight: bold;
  line-height: 20px;

  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  flex-grow: 3;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category {
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-weight: bold;
  line-height: 20px;
  flex-grow: 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.author {
  font-weight: bold;
  flex-grow: 0;
  flex-basis: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.body {
  background-color: white;
  min-height: 50px;

  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
  word-break: break-all;
}

.delete {
  color: #aaaaaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
}

.delete:hover,
.delete:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.likePostContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.likePostContainer > :first-child {
  margin-right: 10px;
}

.likePostContainer > :last-child {
  margin-left: 10px;
}

@media only screen and (max-width: 1024px) {
  .post {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media only screen and (max-width: 324px) {
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
}
