.button {
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 32px;
  line-height: 16px;
  margin: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.fullWidth {
  width: 100%;
}

.floating {
  position: relative;
  width: 60px;
  height: 60px;

  background-color: var(--primary-color);
  color: white;
  border-radius: 50px;
  text-align: center;
  border-color: white;
  border-width: 3px;
  box-shadow: 0 0 40px 40px white;
  transition: 0.4s;
}

.floating i {
  margin-left: -10px;
  margin-right: 0px;
  font-size: 30px;
}

.floating:hover {
  opacity: 0.9;
  transform: scale(1.1, 1.1);
}
