.verticalList {
  display: flex;
  flex-direction: column;
  flex: 0 0 300px;
  border-right: 2px double var(--primary-color);
  height: 100vh;
  transition: 0.5s;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
}

.verticalList:hover {
  overflow-y: auto;
}

.item {
  cursor: pointer;
  transition: 0.4s;

  max-width: 300px;

  text-align: center;
  line-height: 100px;
  opacity: 0.6;
  border-bottom: 1px double var(--primary-color);
}

.item:hover {
  opacity: 0.7;
  transform: scale(1, 0.9);
}

.title {
  color: var(--primary-color);
  padding-left: 10px;
  padding-right: 10px;
}

.selected {
  opacity: 0.8;
  border-bottom: 5px solid var(--primary-color);
}

.addButtonPosition {
  top: 20px;
  left: 315px;
}

@media only screen and (max-width: 800px) {
  .verticalList {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid var(--primary-color);
    flex: 0 0 125px;
    justify-content: space-around;
  }

  .item {
    cursor: pointer;
    transition: 0.4s;
    height: 100px;
    max-width: 200px;
    border-bottom: none;
    opacity: 0.6;
  }

  .item:hover {
    border-bottom: 1px double var(--primary-color);
  }

  .addButtonPosition {
    top: 100px;
    left: 50%;
  }
}
