.item {
  cursor: pointer;
  transition: 0.4s;

  max-width: 300px;

  text-align: center;
  line-height: 100px;
  opacity: 0.6;
  border-bottom: 1px double var(--primary-color);
}

.item:hover {
  opacity: 0.7;
  transform: scale(1, 0.9);
}

.title {
  color: var(--primary-color);
  padding-left: 10px;
  padding-right: 10px;
}

.selected {
  opacity: 0.8;
  border-bottom: 5px solid var(--primary-color);
}

.trim {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 724px) {
  .item {
    cursor: pointer;
    transition: 0.4s;
    max-width: 200px;
    height: 90px;
    opacity: 0.6;
    border-bottom: none;
  }

  .title {
    font-size: medium;
  }

  .selected {
    opacity: 0.8;
    border-bottom: 5px solid var(--primary-color);
  }
}

@media only screen and (max-width: 324px) {
  .title {
    font-size: small;
  }
}
