:root {
  --primary-color: #e74a18;
  --primary-color-lighter: #e74a1820;
  --primary-color-light: #e74a1860;
}
body {
  margin: 0px 0px 0px 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}
* {
  font-family: Helvetica, sans-serif;
  outline-color: transparent;
}

h2,
h3 {
  margin: 0px 0px 0px 0px;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  border-radius: 4px;
  background: transparent;
  transition: all 0.3s ease;
}
::-webkit-scrollbar:hover {
  background: #c6c7ca;
}
::-webkit-scrollbar-thumb {
  background: #777779;
  border-radius: 4px;
}
