.list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.listHorizontal {
  display: flex;
}

.list:hover {
  overflow-y: auto;
  overflow-x: hidden;
}

.listHorizontal:hover {
  overflow-y: hidden;
  overflow-x: auto;
}
