.form {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
}

.form > * {
  margin-left: 10px;
  margin-right: 10px;
}

.input {
  flex: 0 0 40%;
}
